
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Welcome to the shop !</h5>
      <p class="card-text">Nous vous remercions de nous avoir choisis comme partenaire de confiance. Nous nous engageons à comprendre vos besoins uniques et à vous fournir des solutions sur mesure qui vous aideront à atteindre vos objectifs..</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
    <img src="../../../assets/magasin.jpg" class="taille" alt="...">
  </div>

  
  